.navbar {
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navlogo {
  height: 50px;
  margin: 10px 0 10px 0;
  border-radius: 25px;
}

#authpage {
  display: flex;
  justify-content: center;
}

.authform {
  display: flex;
  flex-direction: column;
  border: solid;
  padding: 50px;
  margin-top: 10%;
}